@media (max-width:768px){
    #header h1 a{
        font-size: 18px;
        align-items: center;
    }
    #header .container{
        max-width: 100%;
    }
    #header nav .navbar-nav{
            background-image: linear-gradient(red, yellow);
    }
    #banner .container{
        padding: 0;
    }
    #banner .display-4{
        font-size: 24px;
    }
}